.page {
    &.page-login {
        display: flex;
        background-color: $colorPrimary;
        align-items: center;
        justify-content: center;

        form {
            padding: $gap*2 $gap*4;
            border: 1px solid rgba(255,255,255,0.5);
            border-radius: $boxRadius;
            input {
                color: #fff;
            }
        }
    }
}

.card {
    padding: $gap;
    .operator-logo {
        height: 32px;
        padding: $gap 0;
        img { height: 100%; }
    }
    .info-table {
        font-size: 12px;
        border: none;
        width: 100%;
        tr {
            td:first-child {
                color: $colorGrey;
                padding: 4px 4px 4px 0;
            }
            td:last-child {
                text-align: right;
                padding: 4px 0 4px 4px;
            }
        }
    }
}


.signal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    .type {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 22px;
        color: $colorPrimary;
    }
    .values {
        padding-left: 12px;
        .rxlev {
            font-size: 32px;
            font-weight: 500;
            span { font-size: 14px; }
        }
        .rscp {
            font-size: 18px;
            color: $colorGrey;
            span { font-size: 12px; }
        }
    } 
}
.piles {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .pile {
        width: 7px;
        margin-right: 3px;
        height: 7px;
        background-color: $colorLight;
        &.level-1 { background-color: #E53935; }
        &.level-2 { background-color: #F4511E; }
        &.level-3 { background-color: #FB8C00; }
        &.level-4 { background-color: #FFB300; }
        &.level-5 { background-color: #FDD835; }
        &.level-6 { background-color: #FFEB3B; }
        &.level-7 { background-color: #FFEB3B; }
        &.level-8 { background-color: #C0CA33; }
        &.level-9 { background-color: #4CAF50; }
        &.level-10{ background-color: #43A047; }
    }
    @for $i from 1 through 10 {
        .pile:nth-child(#{$i}) { height: 7px * $i; }
    }
}
#gmap {
    height: 500px;
    min-width: 600px;
    width: 100%;
}